{% extends 'base.html.twig' %}

{% block body %}
  {% include 'partial/_header.html.twig' %}
  <main class="text-gray-100">
    <div class="container mx-auto">
      {# TODO: add breadcrumbs #}
      <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
        {% for item in entries %}
          <div data-app-target="entry">
            {% if item.cover %}
              <a href="{{ item.uri }}">
                <img src="{{ item.cover }}" alt="Cover for {{ item.label }}" class="w-full aspect-[3/4] object-cover" />
              </a>
            {% endif %}
            <div class="flex items-center border-b">
              {% if item.type == 'directory' %}
                <span class="block pr-2 h-5 w-8">{% include 'partial/_icon_directory.html.twig' %}</span>
              {% endif %}
              <a href="{{ item.uri }}">{{ item.label }}</a>
            </div>
          </div>
          {% if item.uri|is_image %}
            <img class="hidden md:col-span-3 min-h-screen mx-auto lozad"
              loading="lazy"
              data-src="{{ item.uri }}"
              data-app-target="image"
              alt="{{ item.uri }}" />
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}
