{% extends 'base.html.twig' %}

{% block body %}
  {% include 'partial/_header.html.twig' %}
  <main class="pt-12 text-gray-100">
    <div class="container mx-auto font-thin">
      {{ render_breadcrumbs() }}
      {{ knp_pagination_render(pagination) }}
      <div class="mt-2 px-2" {{ stimulus_target('app', 'entryContainer') }}>
        <div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3">
          {% for item in pagination|filter_cover(false) %}
            <div class="border-b border-gray-600 text-base">
              {{ block('no_cover') }}
            </div>
          {% endfor %}
        </div>
        <div class="mt-2 grid grid-cols-2 gap-2 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6">
          {% for item in pagination|filter_cover %}
            {{ block('has_cover') }}
          {% endfor %}
        </div>
      </div>
      <div class="mx-auto mt-2 hidden w-full overflow-x-hidden" {{ stimulus_target('app', 'imageContainer') }}>
        {% for item in pagination|filter_image %}
          <div {{ stimulus_controller('image-loader') }}>
            <div
              {{ stimulus_target('image-loader', 'reload') }}
              {{ stimulus_action('image-loader', 'reload', 'click') }}
              class="hidden cursor-pointer rounded-lg border border-gray-100 bg-gray-800 p-8 text-center text-2xl font-bold hover:bg-gray-700 active:bg-gray-900">
              Reload
            </div>
            <img
              {{ stimulus_target('image-loader', 'image') }}
              class="lozad mx-auto min-h-screen md:col-span-3"
              loading="lazy"
              data-src="{{ item.uri }}"
              data-app-target="image"
              alt="Reload" />
          </div>
        {% endfor %}
      </div>
    </div>
    {{ knp_pagination_render(pagination) }}
    {% if path is defined %}
      <twig:NavigationButton loading="lazy" path="{{ path }}" routeName="{{ app.request.attributes.get('_route') }}" />
    {% endif %}
  </main>
{% endblock %}

{% block has_cover %}
  <div class="flex flex-col gap-2 border-b border-gray-600 pb-2">
    {% if item.cover %}
      <div {{ stimulus_controller('image-loader') }}>
        <div
          {{ stimulus_target('image-loader', 'reload') }}
          {{ stimulus_action('image-loader', 'reload', 'click') }}
          class="hidden aspect-3/4 w-full cursor-pointer rounded-lg border border-gray-100 bg-gray-800 p-8 text-center text-2xl font-bold hover:bg-gray-700 active:bg-gray-900">
          Reload
        </div>
        <a href="{{ item.uri }}">
          <img
            {{ stimulus_target('image-loader', 'image') }}
            data-e2e="entry-link"
            data-src="{{ item.cover }}"
            alt="Cover for {{ item.label }}"
            class="lozad aspect-3/4 w-full object-cover" />
        </a>
      </div>
    {% endif %}
    <div class="text-xs">
      {{ block('no_cover') }}
    </div>
  </div>
{% endblock %}

{% block no_cover %}
  <div class="flex items-center">
    {% if item.type == 'directory' %}
      <span class="block h-5 w-8 shrink-0 pr-2">{% include 'partial/_icon_directory.html.twig' %}</span>
    {% endif %}
    <a data-e2e="entry-link" href="{{ item.uri }}" class="line-clamp-3 break-words">{{ item.label }}</a>
  </div>
{% endblock %}
