{% extends 'base.html.twig' %}

{% block body %}
  {% include 'partial/_header.html.twig' %}
  <main class="pt-12 text-gray-100">
    <div class="container mx-auto font-thin">
      {{ render_breadcrumbs() }}
      {{ knp_pagination_render(pagination) }}
      <div class="mt-2 px-2" {{ stimulus_target('app', 'entryContainer') }}>
        <div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3">
          {% for item in pagination|filter_cover(false) %}
            <div class="border-b border-gray-600">
              {{ block('no_cover') }}
            </div>
          {% endfor %}
        </div>
        <div class="mt-2 grid grid-cols-1 gap-2 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6">
          {% for item in pagination|filter_cover %}
            {{ block('has_cover') }}
          {% endfor %}
        </div>
      </div>
      <div class="mx-auto mt-2 hidden w-full overflow-x-hidden" {{ stimulus_target('app', 'imageContainer') }}>
        {% for item in pagination|filter_image %}
          <img class="lozad mx-auto min-h-screen md:col-span-3" loading="lazy" data-src="{{ item.uri }}" data-app-target="image" alt="{{ item.uri }}" />
        {% endfor %}
      </div>
    </div>
    {{ knp_pagination_render(pagination) }}
    {% include 'partial/_next_page.html.twig' %}
  </main>
{% endblock %}

{% block has_cover %}
  <div class="flex gap-2 border-b border-gray-600 pb-2 md:flex-col">
    {% if item.cover %}
      <a href="{{ item.uri }}" class="w-1/2 md:w-full">
        <img data-src="{{ item.cover }}" alt="Cover for {{ item.label }}" class="lozad aspect-[3/4] w-full object-cover" />
      </a>
    {% endif %}
    <div class="w-1/2 md:w-full">
      {{ block('no_cover') }}
    </div>
  </div>
{% endblock %}

{% block no_cover %}
  <div class="flex items-center">
    {% if item.type == 'directory' %}
      <span class="block h-5 w-8 flex-shrink-0 pr-2">{% include 'partial/_icon_directory.html.twig' %}</span>
    {% endif %}
    <a href="{{ item.uri }}" class="line-clamp-5 break-words md:line-clamp-2">{{ item.label }}</a>
  </div>
{% endblock %}
