{% extends 'base.html.twig' %}

{% block body %}
  {% include 'partial/_header.html.twig' %}
  <main class="pt-12 text-gray-100">
    <div class="container mx-auto font-thin">
      {{render_breadcrumbs()}}
      <div class="mt-2 px-2" {{ stimulus_target('app', 'entryContainer') }}>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
          {% for item in pagination|filter(item => not item.cover) %}
            <div class="border-b border-gray-600">
              {{ block('no_cover') }}
            </div>
          {% endfor %}
        </div>
        <div class="mt-2 grid grid-cols-1 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-2">
          {% for item in pagination|filter(item => item.cover) %}
            {{ block('has_cover') }}
          {% endfor %}
        </div>
      </div>
      <div class="hidden mt-2 w-full mx-auto overflow-x-hidden" {{ stimulus_target('app', 'imageContainer') }}>
        {% for item in pagination|filter(item => item.uri|is_image) %}
          <img class="md:col-span-3 min-h-screen mx-auto lozad"
            loading="lazy"
            data-src="{{ item.uri }}"
            data-app-target="image"
            alt="{{ item.uri }}" />
        {% endfor %}
      </div>
    </div>
    {{ knp_pagination_render(pagination) }}
    {% include 'partial/_next_page.html.twig' %}
  </main>
{% endblock %}

{% block has_cover %}
  <div class="flex md:flex-col gap-2 pb-2 border-b border-gray-600">
    {% if item.cover %}
      <a href="{{ item.uri }}" class="w-1/2 md:w-full">
        <img data-src="{{ item.cover }}"
          alt="Cover for {{ item.label }}"
          class="lozad w-full aspect-[3/4] object-cover" />
      </a>
    {% endif %}
    <div class="w-1/2 md:w-full">
      {{ block('no_cover') }}
    </div>
  </div>
{% endblock %}

{% block no_cover %}
  <div class="flex items-center">
    {% if item.type == 'directory' %}
      <span class="block flex-shrink-0 pr-2 h-5 w-8">{% include 'partial/_icon_directory.html.twig' %}</span>
    {% endif %}
    <a href="{{ item.uri }}" class="break-words line-clamp-5 md:line-clamp-2">{{ item.label }}</a>
  </div>
{% endblock %}
