{# tailwindcss Sliding pagination control implementation #}
{% set button_style = 'px-3 py-2 font-mono cursor-pointer border border-gray-600 rounded-lg hover:underline' %}
{% set route_name = app.request.attributes.get('_route') %}
{% if pageCount > 1 %}
  <div class="py-2">
    <div class="flex flex-row flex-wrap items-baseline justify-center gap-1 text-sm">
      {% set target_path = app.request.get('path') %}
      {% if first is defined and current != first %}
        <a href="{{ path(route_name, app.request.query|merge({ page: first, path: target_path })) }}" class="{{ button_style }}">&laquo;</a>
      {% endif %}

      {% if previous is defined %}
        <a rel="prev" href="{{ path(route_name, app.request.query|merge({ page: previous, path: target_path })) }}" class="{{ button_style }}">&lsaquo;</a>
      {% endif %}

      {% for page in pagesInRange %}
        {% if page != current %}
          <a href="{{ path(route_name, app.request.query|merge({ page: page, path: target_path })) }}" class="{{ button_style }}">{{ page }}</a>
        {% else %}
          <span class="{{ button_style }} bg-gray-700 underline">{{ page }}</span>
        {% endif %}
      {% endfor %}

      {% if next is defined %}
        <a rel="next" href="{{ path(route_name, app.request.query|merge({ page: next, path: target_path })) }}" class="{{ button_style }}">&rsaquo;</a>
      {% endif %}

      {% if last is defined and current != last %}
        <a href="{{ path(route_name, app.request.query|merge({ page: last, path: target_path })) }}" class="{{ button_style }}">&raquo;</a>
      {% endif %}
    </div>
  </div>
{% endif %}
